*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  /* ### Primary */

  --Soft_Blue: hsl(231, 69%, 60%);
  --Soft_Red: hsl(0, 94%, 66%);

  /* ### Neutral */

  --Grayish_Blue: hsl(229, 8%, 60%);
  --Very_Dark_Blue: hsl(229, 31%, 21%);

  --White: #ffffff;
  --background__button: rgb(247, 247, 247);
}
