@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

body {
  font-size: 18px;
  font-family: "Be Vietnam Pro", sans-serif;
}
li {
  list-style: none;
  color: var(--Very_Dark_Blue);
  cursor: pointer;
}
p {
  color: var(--Grayish_Blue);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
h1,
h2 {
  color: var(--Very_Dark_Blue);
}
h2 {
  font-size: 33px;
}
img {
  cursor: pointer;
}

/* **** Styling the Desktop menue **** */
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app__menue {
  display: flex;
  width: 100%;
  padding: 3.08rem 8.6rem 3rem 8.6rem;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 95%);
  margin-inline: auto;
}
.menue__nav ul {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  align-items: center;
}
.menue__nav ul li {
  font-size: 14px;
  text-transform: uppercase;
}
.menue__nav ul li:last-child {
  background-color: var(--Soft_Red);
  padding: 0.7rem 2rem;
  color: var(--White);
  border-radius: 7px;
  font-size: 16px;
}
.menue__nav ul li:last-child:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  color: var(--Soft_Red);
}
.menue__nav ul li:hover {
  color: var(--Soft_Red);
}

/* **** Styling Header Desktop **** */
.app__header {
  display: flex;
  padding: 3.5rem 1rem 6rem 9rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  justify-content: center;
}
.header__left,
.header__right {
  flex-basis: 50%;
}

.header__left {
  margin-top: 4.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.header__left > h1 {
  color: var(--Very_Dark_Blue);
  font-size: 45px;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: start;
  width: 100%;
  font-weight: 500;
}
.header__left p {
  color: var(--Grayish_Blue);
  width: 100%;
}
.left__buttons {
  display: flex;
  gap: 1rem;
}
.button__chrom,
.button__firefox {
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}
.button__chrom {
  background-color: var(--Soft_Blue);
  color: var(--White);
}
.button__chrom:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Blue);
  outline-offset: -1px;
  color: var(--Soft_Blue);
}
.button__firefox {
  background-color: var(--background__button);
  color: var(--Very_Dark_Blue);
}
.button__firefox:hover {
  background-color: transparent;
  outline: 1px solid var(--Grayish_Blue);
  outline-offset: -1px;
  color: var(--Grayish_Blue);
}

.header__right {
  width: 100%;
  height: auto;
  z-index: 99;
  right: 0;
}

.header__background {
  position: absolute;
  background-color: var(--Soft_Blue);
  width: 40%;
  height: 42vh;
  z-index: 0;
  right: 0;
  border-radius: 0% 0 0 60%;
  margin-top: 8rem;
}

/* ****Styling the Feature Desktop **** */

.app__feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 8.6rem;
  width: min(1400px, 95%);
  margin-inline: auto;
}
.app__feature > p {
  padding: 1rem;
  width: 55%;
  text-align: center;
}

.feature_tabs {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
  border-bottom: 0.1px solid var(--Grayish_Blue);
  justify-content: center;
  align-items: baseline;
}

.feature_tabs div {
  padding: 1.5rem;
  color: var(--Grayish_Blue);
  cursor: pointer;
}
.feature_tabs div:nth-child(1) {
  color: var(--Very_Dark_Blue);
  border-bottom: 3.5px solid var(--Soft_Red);
}

.feature_tabs_detaills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detaill {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  padding-top: 4rem;
  gap: 7rem;
}
.detaill:nth-child(2),
.detaill:nth-child(3) {
  display: none;
}
.detaill img {
  object-fit: cover;
  height: 39vh;
}

.detaill__right {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: auto;
  gap: 1.5rem;
}
.detaill__right p {
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.detaill__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  padding: 0.8rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  color: var(--White);
}

/* **** Styling the Extension Desktop ***** */

.app__extensions {
  padding: 2rem 9rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extension__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.extension__header p {
  width: 54%;
  text-align: center;
}

.extension__browsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  padding: 0 4rem;
}
.extension__browsers > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 3rem 2rem 2rem 2rem;
  gap: 1rem;
  border: 0;
  box-shadow: -3px 1px 25px 7px var(--background__extenstions);
  border-radius: 7px;
  text-align: center;
  height: max-content;
}
.extension__browsers > div:nth-child(2) {
  margin-top: 6rem;
}
.extensions__opera {
  margin-top: 12rem;
}
.extension__browsers img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
}
.extensions__bar {
  background-image: url(./images/bg-dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1vh;
  padding: 1.7rem 0 0 0;
}
.extensions__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  color: var(--White);
  padding: 0.7rem 2rem;
  border-radius: 7px;
  cursor: pointer;
}

/* Styling the questions Desktop  */
.app__questions {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: auto;
  width: min(1400px, 40%);
  margin-inline: auto;
}
.questions__header {
  text-align: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.question {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.questions > div {
  border-bottom: 1px solid var(--Very_Dark_Blue);
  cursor: pointer;
  width: auto;
  padding: 1rem 0;
}
.questions > div:nth-child(1) {
  border-top: 0.3px solid var(--Very_Dark_Blue);
}

.question span {
  color: var(--Very_Dark_Blue);
}
.question img {
  margin-right: 2rem;
  width: 15px;
  height: 11px;
}
.answer {
  display: none;
}

/* Stlying the prefooter Desktop  */
.app__prefooter {
  background-color: var(--Soft_Blue);
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__prefooter p,
h1 {
  color: var(--White);
  width: 42%;
  text-align: center;
}

.prefooter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 1rem;
}
input {
  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;
}
.form__button {
  padding: 0.9rem 1.3rem;
  cursor: pointer;
  color: var(--White);
  background-color: var(--Soft_Red);
  border-radius: 4px;
}
.form__button:hover {
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  background-color: var(--White);
  color: var(--Soft_Red);
}

/* Styling the footer Desktop */
.app__footer {
  display: flex;
  background-color: var(--Very_Dark_Blue);
  padding: 2rem 9rem;
  color: var(--White);
  justify-content: space-between;
  align-items: center;
}
.footer_links {
  display: flex;
  gap: 3rem;
}
.footer_links img {
  filter: brightness(0) invert(1);
}
.footer_links > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}
.footer_links > ul > li {
  color: var(--White);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  opacity: 80%;
}

.footer_links > ul > li:hover {
  color: var(--Soft_Red);
}

.footer_socialmedia {
  display: flex;
  gap: 2rem;
}
