@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

body {
  font-size: 18px;
  font-family: "Be Vietnam Pro", sans-serif;
}
li {
  list-style: none;
  color: var(--Very_Dark_Blue);
  cursor: pointer;
}
p {
  color: var(--Grayish_Blue);
  letter-spacing: 0.3px;
  line-height: 1.5;
  opacity: 85%;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2 {
  color: var(--Very_Dark_Blue);
}
h2 {
  font-size: 33px;
  font-weight: 500;
}
img {
  cursor: pointer;
}
[class*="__button"] {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 23px;
    font-weight: 700;
  }
}
/* **** Styling the Desktop menue **** */
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app__menue {
  display: flex;
  width: 100%;
  padding: 3.2rem 8.2rem 3.1rem 8.2rem;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 95%);
  margin-inline: auto;
}
.menue__nav ul {
  display: flex;
  width: 100%;
  gap: 3.3rem;
  align-items: center;
}
.menue__nav ul li {
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.menue__nav ul li:last-child {
  display: inline-block;

  background-color: var(--Soft_Red);
  padding: 0.6rem 1.7rem;
  color: var(--White);
  border-radius: 4px;

  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
}
.menue__nav ul li:last-child:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  color: var(--Soft_Red);
  transition: 0.4s ease;
}
.menue__nav ul li:hover {
  color: var(--Soft_Red);
}
.menue__mobile {
  display: none;
}

/* Styling the mobile Version */
@media (max-width: 900px) {
  .app__menue {
    flex-direction: row;
    padding: 2rem 1rem;
  }
  .menue__nav {
    display: none;
  }
  .menue__mobile {
    display: flex;
  }
}

/* **** Styling Header Desktop **** */
.app__header {
  display: flex;
  padding: 3.5rem 1rem 6rem 8.2rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  justify-content: center;
}
.header__left,
.header__right {
  flex-basis: 50%;
}

.header__left {
  margin-top: 4.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.3rem;
}
.header__left > h1 {
  color: var(--Very_Dark_Blue);
  font-size: 45px;
  letter-spacing: -0.1px;
  line-height: 1.2;
  text-align: start;
  width: 100%;
  font-weight: 700;
}
.header__left p {
  color: var(--Grayish_Blue);
  width: 90%;
}
.left__buttons {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  padding: 1rem 0 0;
}
.button__chrom,
.button__firefox {
  width: max-content;
  padding: 0.8rem 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
}
.button__chrom {
  background-color: var(--Soft_Blue);
  color: var(--White);
}
.button__chrom:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Blue);
  outline-offset: -1px;
  color: var(--Soft_Blue);
  transition: 0.4s ease;
}
.button__firefox {
  background-color: var(--background__button);
  color: var(--Very_Dark_Blue);
}
.button__firefox:hover {
  background-color: transparent;
  outline: 1px solid var(--Grayish_Blue);
  outline-offset: -1px;
  color: var(--Grayish_Blue);
  transition: 0.4s ease;
}

.header__right {
  width: 100%;
  height: auto;
  z-index: 99;
  right: 0;
  position: relative;
}
.header__right::before {
  content: "";
  background-color: var(--Soft_Blue);
  width: 80%;
  height: 75%;
  z-index: 0;
  right: 0;
  border-radius: 0% 0 0 35%;
  margin-top: 8.9rem;
  position: absolute;
  z-index: -1;
  float: right;
  margin-right: -4rem;
}

/* ****Styling the header verion Mobile ***** */

@media (max-width: 900px) {
  .app__header {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
  }
  .header__left,
  .header__right {
    flex-basis: auto;
    width: 100%;
  }

  .header__left {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;
    order: 2;
  }
  .header__left > h1 {
    font-size: 25px;
    text-align: center;
  }
  .header__left p {
    color: var(--Grayish_Blue);
    width: 100%;
  }

  .left__buttons {
    margin: auto;
    padding: 0.3rem 0 0;
    /* flex-wrap: wrap; */
  }
  .button__chrom,
  .button__firefox {
    padding: 0.7rem 1rem;
  }

  .header__right {
    width: auto;
    height: auto;
    z-index: 99;
  }
  .header__right img {
    width: 100%;
  }
  .header__right::before {
    content: "";
    background-color: var(--Soft_Blue);
    width: 100%;
    margin-top: 3.5rem;
  }
}

/* ****Styling the Feature Desktop **** */

.app__feature {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 8.6rem 5rem;
  width: min(1400px, 95%);
  margin-inline: auto;
}

.app__feature > p {
  padding: 1.3rem 0;
  width: 52%;
  text-align: center;
}

.feature_tabs {
  margin-top: 1.6rem;
  display: flex;
  gap: 4rem;
  border-bottom: 0.1px solid var(--Grayish_Blue);
  justify-content: center;
  align-items: baseline;
}

.feature_tabs div {
  padding: 1.5rem;
  color: var(--Grayish_Blue);
  cursor: pointer;
}
.feature_tabs div:hover {
  color: var(--Soft_Red);
  transition: 0.3s ease;
}

.feature_tabs_detaills {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1rem;
}
.active {
  padding: 1.5rem;
  color: var(--Soft_Red);
  border-bottom: 2.3px solid var(--Soft_Red);
}
.detaill {
  display: flex;
  padding-top: 3.5rem;
  gap: 7rem;
}
.detaill:nth-child(2),
.detaill:nth-child(3) {
  display: none;
}

.detaill__left,
.detaill__right {
  flex-basis: 50%;
  position: relative;
  height: auto;
}
.detaill__left::before {
  content: "";
  background-color: var(--Soft_Blue);
  width: 122%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  border-radius: 0% 0 35% 0;
  margin: 5.5rem 0 6rem -12rem;
}

.detaill__right {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-content: center;
  gap: 1.5rem;
  margin: auto;
}
.detaill__right p {
  letter-spacing: 0.5px;
}

.detaill__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  padding: 0.9rem 1.2rem;
  border-radius: 7px;
  cursor: pointer;
  color: var(--White);
}

/* Styling the feauture for verions mobile  */
@media (max-width: 900px) {
  .app__feature {
    width: 100%;
    padding: 6rem 2rem;
  }

  .app__feature > p {
    width: 100%;
  }

  .feature_tabs {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    border-top: 0.1px solid var(--Grayish_Blue);
    width: 100%;
    align-items: center;
  }

  .feature_tabs div {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 0.1px solid var(--Grayish_Blue);
  }

  .feature_tabs_detaills {
    padding-top: 1rem;
  }

  .detaill {
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
    gap: 3.5rem;
  }

  .detaill__left,
  .detaill__right {
    flex-basis: none;
    position: relative;
    height: auto;
    width: 100%;
  }
  .detaill__left img {
    width: 100%;
  }
  .detaill__left::before {
    content: "";
    margin: 2.11rem 0 6rem -12rem;
  }

  .detaill__right {
    width: 100%;
    text-align: center;
    gap: 1rem;
  }

  .detaill__right > div {
    display: none;
  }
}

/* **** Styling the Extension Desktop ***** */

.app__extensions {
  padding: 10rem 9rem 8.92rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extension__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.extension__header h2 {
  font-weight: 500;
}
.extension__header p {
  width: 60%;
  text-align: center;
}

.extension__browsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 0 4rem;
}
.extension__browsers > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 3rem 1.8rem 1.5rem;
  gap: 1rem;
  border: 0;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
  border-radius: 7px;
  text-align: center;
  height: max-content;
  position: relative;
}
.extension__browsers > div:nth-child(1) {
  top: 3rem;
}
.extension__browsers > div:nth-child(2) {
  top: 6rem;
}
.extensions__opera {
  top: 8.5rem;
}
.extension__browsers img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
}
.extensions__bar {
  background-image: url(./images/bg-dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1vh;
  padding: 1.7rem 0 0 0;
}
.extensions__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  color: var(--White);
  padding: 0.7rem 2rem;
  border-radius: 7px;
  cursor: pointer;
}
.extensions__button:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Blue);
  outline-offset: -1px;
  color: var(--Soft_Blue);
  transition: 0.4s ease;
}

/* Styling the extension version mobile  */
@media (max-width: 900px) {
  .app__extensions {
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .extension__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .extension__header h2 {
    font-weight: 700;
  }
  .extension__header p {
    width: 100%;
  }

  .extension__browsers {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem;
    padding: 0;
  }
}

/* ****  Styling the questions Desktop **** */
.app__questions {
  padding-top: 10rem;
  padding-bottom: 6rem;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: auto;
  width: min(1400px, 40%);
  margin-inline: auto;
}
.questions__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}
.questions__header P {
  width: 90%;
}
.question {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.questions > div {
  border-bottom: 0.1px solid var(--Grayish_Blue);
  cursor: pointer;
  width: auto;
  padding: 1.3rem 0;
  font-weight: 400;
}
.questions > div:nth-child(1) {
  border-top: 0.3px solid var(--Grayish_Blue);
}

.question span {
  color: var(--Very_Dark_Blue);
}
.question img {
  margin-right: 2rem;
  width: 15px;
  height: 11px;
}
.active_image {
  margin-right: 2rem;
  width: 15px;
  height: 11px;
  transform: rotate(180deg);
}
.answer {
  margin-top: 1.6rem;
  display: none;
}

.app__questions > div:nth-child(3) {
  align-self: center;
  justify-self: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/* **** Styling the question design for mobile **** */
@media (max-width: 900px) {
  .app__questions {
    padding: 8rem 2rem;
    display: flex;
    width: 100%;
  }
  .questions__header {
    width: 100%;
  }
  .questions__header P {
    width: 100%;
  }
  .questions > div:nth-child(1) {
    border-top: none;
  }
}

/* **** Stlying the prefooter Desktop *****/
.app__prefooter {
  background-color: var(--Soft_Blue);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  width: 100%;
}

.app__prefooter p,
h1 {
  color: var(--White);
  width: 30%;
  text-align: center;
}
.app__prefooter h1 {
  font-size: 30px;
  font-weight: 500;
}

.app__prefooter p {
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 98%;
  font-size: 14px;
}
.prefooter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
input {
  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: 24%;
}
.form__button {
  padding: 0.9rem 1.3rem;
  cursor: pointer;
  color: var(--White);
  background-color: var(--Soft_Red);
  border-radius: 4px;
  width: max-content;
  font-size: 12px;
}
.form__button:hover {
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  background-color: var(--White);
  color: var(--Soft_Red);
}

/* **** Styling the prefooter section for mobile **** */
@media (max-width: 900px) {
  .app__prefooter {
    padding: 3rem 2rem;
    align-items: center;
  }

  .app__prefooter p,
  h1 {
    width: 100%;
  }
  .app__prefooter h1 {
    font-size: 24px;
  }
  .prefooter__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  input {
    border: 0;
    border-radius: 4px;
    padding: 1rem 2rem;
    width: 100%;
  }
  .form__button {
    width: 100%;
    text-align: center;
  }
}

/* ***Styling the footer Desktop  *****/
.app__footer {
  display: flex;
  background-color: var(--Very_Dark_Blue);
  padding: 2rem 9rem;
  color: var(--White);
  justify-content: space-between;
  align-items: center;
}
.footer_links {
  display: flex;
  gap: 3rem;
}

.footer_links > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}
.footer_links > ul > li {
  color: var(--White);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  opacity: 95%;
}

.footer_links > ul > li:hover {
  color: var(--Soft_Red);
}

.footer_socialmedia {
  display: flex;
  gap: 2rem;
}

/* **** Styling the footer Section for the mobile ***** */

@media (max-width: 900px) {
  .app__footer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
  }
  .footer_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .footer_links > ul {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .footer_socialmedia {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
