@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

body {
  font-size: 18px;
  font-family: "Be Vietnam Pro", sans-serif;
}
li {
  list-style: none;
  color: var(--Very_Dark_Blue);
  cursor: pointer;
}
p {
  color: var(--Grayish_Blue);
}
h1,
h2 {
  color: var(--Very_Dark_Blue);
}
h2 {
  font-size: 33px;
}
img {
  cursor: pointer;
}

/* **** Styling the Desktop menue **** */
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
}
.app__menue {
  display: flex;
  width: 100%;
  padding: 3rem 10.6rem;
  justify-content: space-between;
  align-items: center;
}
.menue__nav ul {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  align-items: center;
}
.menue__nav ul li:last-child {
  background-color: var(--Soft_Red);
  padding: 0.7rem 2rem;
  color: var(--White);
  border-radius: 7px;
  font-size: 16px;
}
.menue__nav ul li:last-child:hover {
  background-color: transparent;
  border: 1px solid var(--Soft_Red);
  color: var(--Soft_Red);
}
.menue__nav ul li:hover {
  color: var(--Soft_Red);
}

/* **** Styling Header Desktop **** */
.app__header {
  display: flex;
  padding: 3.5rem 4rem 3rem 10.6rem;
  width: 100%;
}
.header__left,
.header__right {
  flex-basis: 50%;
}

.header__left {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.header__left h1 {
  color: var(--Very_Dark_Blue);
  font-size: 45px;
  letter-spacing: -1px;
}
.header__left p {
  color: var(--Grayish_Blue);
}
.left__buttons {
  display: flex;
  gap: 1rem;
}
.button__chrom,
.button__firefox {
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}
.button__chrom {
  background-color: var(--Soft_Blue);
  color: var(--White);
}
.button__chrom:hover {
  background-color: transparent;
  border: 1px solid var(--Soft_Blue);
  color: var(--Soft_Blue);
}
.button__firefox {
  background-color: var(--background__button);
  color: var(--Very_Dark_Blue);
}
.button__firefox:hover {
  background-color: transparent;
  border: 1px solid var(--Grayish_Blue);
  color: var(--Grayish_Blue);
}
.header__right {
  background-image: url(./images/illustration-hero.svg);
  height: 50vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 90;
  position: relative;
}

.header__background {
  position: absolute;
  background-color: var(--Soft_Blue);
  width: 30%;
  height: 32vh;
  z-index: 0;
  right: 0;
  border-radius: 0% 0 0 60%;
  margin-top: 8rem;
}

/* ****Styling the Feature Desktop **** */

.app__feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 10.6rem;
}
.app__feature > p {
  padding: 1rem;
  width: 70%;
  text-align: center;
}

.feature_tabs {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
  border-bottom: 0.1px solid var(--Grayish_Blue);
  justify-content: center;
  align-items: baseline;
}

.feature_tabs div {
  padding: 1.5rem;
  color: var(--Grayish_Blue);
  cursor: pointer;
}
.feature_tabs div:nth-child(1) {
  color: var(--Very_Dark_Blue);
  border-bottom: 3.5px solid var(--Soft_Red);
}

.feature_tabs_detaills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detaill {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  padding-top: 4rem;
  gap: 7rem;
}
.detaill img {
  object-fit: cover;
  height: 39vh;
}

.detaill__right {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: auto;
  gap: 1.5rem;
}
.detaill__right p {
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.detaill__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  padding: 0.8rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  color: var(--White);
  font-weight: 700;
}
