@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

body {
  font-size: 18px;
  font-family: "Be Vietnam Pro", sans-serif;
}
li {
  list-style: none;
  color: var(--Very_Dark_Blue);
  cursor: pointer;
}
p {
  color: var(--Grayish_Blue);
  letter-spacing: 0.3px;
  line-height: 1.5;
  opacity: 85%;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2 {
  color: var(--Very_Dark_Blue);
}
h2 {
  font-size: 33px;
  font-weight: 500;
}
img {
  cursor: pointer;
}
[class*="__button"] {
  font-size: 14px;
}

/* **** Styling the Desktop menue **** */
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app__menue {
  display: flex;
  width: 100%;
  padding: 3.2rem 8.2rem 3.1rem 8.2rem;
  justify-content: space-between;
  align-items: center;
  width: min(1400px, 95%);
  margin-inline: auto;
}
.menue__nav ul {
  display: flex;
  width: 100%;
  gap: 3.3rem;
  align-items: center;
}
.menue__nav ul li {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.menue__nav ul li:last-child {
  display: inline-block;

  background-color: var(--Soft_Red);
  padding: 0.6rem 1.7rem;
  color: var(--White);
  border-radius: 4px;

  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
}
.menue__nav ul li:last-child:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  color: var(--Soft_Red);
  transition: 0.4s ease;
}
.menue__nav ul li:hover {
  color: var(--Soft_Red);
}

/* **** Styling Header Desktop **** */
.app__header {
  display: flex;
  padding: 3.5rem 1rem 6rem 8.2rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  justify-content: center;
}
.header__left,
.header__right {
  flex-basis: 50%;
}

.header__left {
  margin-top: 4.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.3rem;
}
.header__left > h1 {
  color: var(--Very_Dark_Blue);
  font-size: 45px;
  letter-spacing: -0.1px;
  line-height: 1.2;
  text-align: start;
  width: 100%;
  font-weight: 700;
}
.header__left p {
  color: var(--Grayish_Blue);
  width: 90%;
}
.left__buttons {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  padding: 1rem 0 0;
}
.button__chrom,
.button__firefox {
  width: max-content;
  padding: 0.8rem 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
}
.button__chrom {
  background-color: var(--Soft_Blue);
  color: var(--White);
}
.button__chrom:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Blue);
  outline-offset: -1px;
  color: var(--Soft_Blue);
  transition: 0.4s ease;
}
.button__firefox {
  background-color: var(--background__button);
  color: var(--Very_Dark_Blue);
}
.button__firefox:hover {
  background-color: transparent;
  outline: 1px solid var(--Grayish_Blue);
  outline-offset: -1px;
  color: var(--Grayish_Blue);
  transition: 0.4s ease;
}

.header__right {
  width: 100%;
  height: auto;
  z-index: 99;
  right: 0;
  position: relative;
}
.header__right::before {
  content: "";
  background-color: var(--Soft_Blue);
  width: 80%;
  height: 75%;
  z-index: 0;
  right: 0;
  border-radius: 0% 0 0 35%;
  margin-top: 8.9rem;
  position: absolute;
  z-index: -1;
  float: right;
  margin-right: -4rem;
}

/* ****Styling the Feature Desktop **** */

.app__feature {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 8.6rem 5rem;
  width: min(1400px, 95%);
  margin-inline: auto;
}

.app__feature > p {
  padding: 1.3rem 0;
  width: 52%;
  text-align: center;
}

.feature_tabs {
  margin-top: 1.6rem;
  display: flex;
  gap: 4rem;
  border-bottom: 0.1px solid var(--Grayish_Blue);
  justify-content: center;
  align-items: baseline;
}

.feature_tabs div {
  padding: 1.5rem;
  color: var(--Grayish_Blue);
  cursor: pointer;
}
.feature_tabs div:hover {
  color: var(--Soft_Red);
}
.feature_tabs div:nth-child(1) {
  color: var(--Very_Dark_Blue);
  border-bottom: 2px solid var(--Soft_Red);
}

.feature_tabs_detaills {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1rem;
}

.detaill {
  display: flex;
  padding-top: 3.5rem;
  gap: 7rem;
}
.detaill:nth-child(2),
.detaill:nth-child(3) {
  display: none;
}

.detaill__left,
.detaill__right {
  flex-basis: 50%;
  position: relative;
  height: auto;
}
.detaill__left::before {
  content: "";
  background-color: var(--Soft_Blue);
  width: 122%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  border-radius: 0% 0 35% 0;
  margin: 5.5rem 0 6rem -12rem;
}

.detaill__right {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-content: center;
  gap: 1.5rem;
  margin: auto;
}
.detaill__right p {
  letter-spacing: 0.5px;
}

.detaill__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  padding: 0.9rem 1.2rem;
  border-radius: 7px;
  cursor: pointer;
  color: var(--White);
}

/* **** Styling the Extension Desktop ***** */

.app__extensions {
  padding: 10rem 9rem 8.5rem;
  width: min(1400px, 95%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extension__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.extension__header h2 {
  font-weight: 500;
}
.extension__header p {
  width: 60%;
  text-align: center;
}

.extension__browsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 0 4rem;
}
.extension__browsers > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 3rem 1.8rem 1.5rem;
  gap: 1rem;
  border: 0;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 10%);
  border-radius: 7px;
  text-align: center;
  height: max-content;
  position: relative;
}
.extension__browsers > div:nth-child(1) {
  top: 3rem;
}
.extension__browsers > div:nth-child(2) {
  top: 6rem;
}
.extensions__opera {
  top: 8.5rem;
}
.extension__browsers img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 0;
}
.extensions__bar {
  background-image: url(./images/bg-dots.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1vh;
  padding: 1.7rem 0 0 0;
}
.extensions__button {
  width: max-content;
  background-color: var(--Soft_Blue);
  color: var(--White);
  padding: 0.7rem 2rem;
  border-radius: 7px;
  cursor: pointer;
}
.extensions__button:hover {
  background-color: transparent;
  outline: 1px solid var(--Soft_Blue);
  outline-offset: -1px;
  color: var(--Soft_Blue);
  transition: 0.4s ease;
}

/* Styling the questions Desktop  */
.app__questions {
  padding-top: 10rem;
  padding-bottom: 6rem;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: auto;
  width: min(1400px, 40%);
  margin-inline: auto;
}
.questions__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}
.questions__header P {
  width: 90%;
}
.question {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.questions > div {
  border-bottom: 0.1px solid var(--Grayish_Blue);
  cursor: pointer;
  width: auto;
  padding: 1.3rem 0;
  font-weight: 400;
}
.questions > div:nth-child(1) {
  border-top: 0.3px solid var(--Grayish_Blue);
}

.question span {
  color: var(--Very_Dark_Blue);
}
.question img {
  margin-right: 2rem;
  width: 15px;
  height: 11px;
}
.answer {
  display: none;
}

.app__questions > div:nth-child(3) {
  align-self: center;
  justify-self: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Stlying the prefooter Desktop  */
.app__prefooter {
  background-color: var(--Soft_Blue);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  width: 100%;
}

.app__prefooter p,
h1 {
  color: var(--White);
  width: 35%;
  text-align: center;
}

.app__prefooter p {
  letter-spacing: 1.6px;
  text-transform: uppercase;
  opacity: 98%;
}
.prefooter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
input {
  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;
  width: 24%;
}
.form__button {
  padding: 0.9rem 1.3rem;
  cursor: pointer;
  color: var(--White);
  background-color: var(--Soft_Red);
  border-radius: 4px;
  width: max-content;
  font-size: 12px;
}
.form__button:hover {
  outline: 1px solid var(--Soft_Red);
  outline-offset: -1px;
  background-color: var(--White);
  color: var(--Soft_Red);
}

/* Styling the footer Desktop */
.app__footer {
  display: flex;
  background-color: var(--Very_Dark_Blue);
  padding: 2rem 9rem;
  color: var(--White);
  justify-content: space-between;
  align-items: center;
}
.footer_links {
  display: flex;
  gap: 3rem;
}
.footer_links img {
  filter: brightness(0) invert(1);
}
.footer_links > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}
.footer_links > ul > li {
  color: var(--White);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  opacity: 95%;
}

.footer_links > ul > li:hover {
  color: var(--Soft_Red);
}

.footer_socialmedia {
  display: flex;
  gap: 2rem;
}
